/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchResult {
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
}

/* Apply styles to the <ul> element */
ul {
 list-style-type: none;
  padding: 0; /* Remove default padding */
}

/* Apply styles to the <li> elements */
li {
  margin: 0; /* Remove default margin */
  padding: 8px 0; /* Add padding to top and bottom */
  color: #333; /* Text color */
}

/* Style for list items on hover */
li:hover {
  background-color: #f0f0f0; /* Background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}