<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Example with Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search-result.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_table_dataframe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cart.css') }}">
</head>
<body>
    <h1>Search Example with Flask</h1>
    <form method="POST" action="/viewcart">
        <button type="submit">View Cart</button>
    </form>
    <form method="POST" action="/searchData">
        <input type="text" name="searchInput"
               placeholder="Enter your search term">
        <button type="submit">Search</button>
    </form>
    <p>
        {% if search_text %}
        You searched for: {{ search_text }}
        <table class="cart">
            <tr>
                <th>ID</th>
                <th>Product</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Price</th>
                <th>Add to Cart</th>
            </tr>

            {% for product in products %}
            <tr>
                <td>{{ product[0] }}</td> <!--'id'-->
                <td>{{ product[1] }}</td> <!--'product'-->
                <td>{{ product[2] }}</td> <!--'brand'-->
                <td>{{ product[4] }}</td> <!--'model'-->
                <td>{{ product[6] }}</td> <!--'price'-->
                <td>
                    <form action="/cart/add" method="POST">
                            <input type="hidden" name="product_id"
                                   value="{{ product[0] }}">
                            <input type="number" name="quantity"
                                   value="1" min="1">
                            <button type="submit">Add to cart</button>
                    </form>
                </td>
            </tr>
            {% endfor %}','
        {% endif %}
        </p>
</body>
</html>


